:root{
    --color_primario_bagu : #D33968;
    --color_secundario_bagu : #e6e6e6;
    --color-adicional:#e7dad4;
}
    .bg {
        animation:slide 4s ease-in-out infinite alternate;
        background-image: linear-gradient(-60deg, var(--color_primario_bagu) 60%, var(--color_secundario_bagu) 40% , var(--color-adicional) 40%);
        bottom:0;
        left:-50%;
        opacity:.5;
        position:fixed;
        right:-50%;
        top:0;
        z-index:-1;
    }
    
    .bg2 {
        animation-direction:alternate-reverse;
        animation-duration:4s;
    }
    
    .bg3 {
        animation-duration:5s;
    }
    
    @keyframes slide {
        0% {
        transform:translateX(-25%);
        }
        100% {
        transform:translateX(25%);
        }
    }