@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.carousel{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: -150px;
}

.carousel .listCarousel .itemCarousel{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.carousel .listCarousel .itemCarousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%); /* Ajusta el valor según lo necesites */
}


.carousel .listCarousel .itemCarousel .ContentItem{
    position: absolute;
    top: 30%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: white;
    text-shadow: 0 5px 10px #0004;
}

.carousel .listCarousel .itemCarousel .ContentItem .author{
    font-weight: bold;
    letter-spacing: 5px;
}
.carousel .listCarousel .itemCarousel .ContentItem .title , 
.carousel .listCarousel .itemCarousel .ContentItem .topic{
    font-weight: bold;
    font-size: 5em;
    line-height: 1.3em;
}

.carousel .listCarousel .itemCarousel .ContentItem .topic{
    color: #39d3a4;
}
.carousel .listCarousel .itemCarousel .ContentItem .buttonsCarusel{
    display: grid;
    grid-template-columns: repeat(2 , 340px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}
.carousel .listCarousel .itemCarousel .ContentItem button{
    border: none;
    color: black;
    background-color: white;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 500;
    transition: .5s all;
}
.carousel .listCarousel .itemCarousel .ContentItem button:hover{
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    background-color: black;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 500;
    transition: .5s all;
}

.carousel .listCarousel .itemCarousel .ContentItem button:nth-child(2){
    background-color: transparent;
    color: white;
    border: 1px solid white;
    transition: .5 all;
}
.carousel .listCarousel .itemCarousel .ContentItem button:nth-child(2):hover{
    background-color: #39d3a4;
    color: white;
    border: 1px solid white;
    transition: .5 all;
}
/*thrumbail*/
.thumbnail{
    position: absolute;
    bottom: 40px;
    left: 60%;
    width: max-content;
    z-index: 10;
    display: flex;
    gap: 20px;
}
.thumbnail .itemThumbnail{
    width: 170px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .itemThumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.thumbnail .itemThumbnail .contentThumbrail{
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.thumbnail .itemThumbnail .contentThumbrail .title{
    font-weight: bold;
    color: white;
}
.thumbnail .itemThumbnail .contentThumbrail .des{
    color: white;
}
/*Arrow*/
.arrows{
    position: absolute;
    top: 89%;
    right: 72%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
    z-index: 100;
}
.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    font-family: monospace;
    color: white;
    font-weight: bold;
    font-size: large;
    transition: .5;
}
.arrows button:hover{
    background-color: #eee;
    color: #555;
}

.carousel .listCarousel .itemCarousel:nth-child(1){
    z-index: 1;
}
.carousel .listCarousel .itemCarousel:nth-child(1) .author,
.carousel .listCarousel .itemCarousel:nth-child(1) .title,
.carousel .listCarousel .itemCarousel:nth-child(1) .topic,
.carousel .listCarousel .itemCarousel:nth-child(1) .des,
.carousel .listCarousel .itemCarousel:nth-child(1) .buttonsCarusel{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}
.carousel .listCarousel .itemCarousel:nth-child(1) .title{
    animation-delay: 1.2s;
}
.carousel .listCarousel .itemCarousel:nth-child(1) .topic{
    animation-delay: 1.4s;
}
.carousel .listCarousel .itemCarousel:nth-child(1) .des{
    animation-delay: 1.6s;
}
.carousel .listCarousel .itemCarousel:nth-child(1) .buttonsCarusel{
    animation-delay: 1.8s;
}
/*Efecto del slide*/
.carousel.next .listCarousel .itemCarousel:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    border-radius: 20px;
    animation: showImage 0.5s linear 1 forwards;
}
@keyframes showImage{
    to{
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
}
.carousel.next .thumbnail .itemThumbnail:nth-last-child(1){
    width: 0;
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
@keyframes showThumbnail{
    to{
        width: 170px;
    }
}
.carousel.next .thumbnail{
    transform: translateX(150px);
    animation: trasformTrumbnail .5s linear 1 forwards;
}
@keyframes trasformTrumbnail{
    to{
        transform: translateX(0);
    }
}
/*efect prev click*/

.carousel.prev .listCarousel .itemCarousel:nth-child(2){
    z-index: 2;
}
.carousel.prev .listCarousel .itemCarousel:nth-child(2) img{
    position: absolute;
    bottom: 0;
    left: 0;
    animation: outImage 0.5s linear 1 forwards;
}
@keyframes outImage {
    to{
        width: 170px;
        height: 220px;
        border-radius: 20px;
        left: 60%;
        bottom: 40px;
    }
}
.carousel.prev .listCarousel .itemCarousel:nth-child(1){
    width: 0;
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail 0.5s linear 1 forwards;
}

.carousel.prev .listCarousel .itemCarousel:nth-child(2) .author,
.carousel.prev .listCarousel .itemCarousel:nth-child(2) .title,
.carousel.prev .listCarousel .itemCarousel:nth-child(2) .topic,
.carousel.prev .listCarousel .itemCarousel:nth-child(2) .des,
.carousel.prev .listCarousel .itemCarousel:nth-child(2) .buttonsCarusel {
    animation: contentOut 1.5s linear 1 forwards;
}
@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
    pointer-events: none;
}
/*time*/
.time{
    width: 0%;
    height: 35px;
    background-color: #39d3a4;
    position: absolute;
    z-index: 100000;
    top: 0;
    left: 0;
}
.carousel.next .time,
.carousel.prev .time{
    width: 100%;
    animation: timeRunning 5s linear 1 forwards;
}
@keyframes timeRunning {
    to{
        width: 0;
    }
}

@media screen and (max-width: 678px) {
    .carousel .listCarousel .itemCarousel .ContentItem{
        padding-right: 0;
    }
    .carousel .listCarousel .itemCarousel .ContentItem .title,
    .carousel .listCarousel .itemCarousel .ContentItem .topic{
        font-size: 40px;
    }
    .carousel .listCarousel .itemCarousel .ContentItem .buttonsCarusel{
        display: grid;
        grid-template-columns: repeat(2 , 180px);
        grid-template-rows: 60px;
        gap: 5px;
        margin-top: 20px;
        text-align: center;
    }
    .carousel .listCarousel .itemCarousel .ContentItem button{
        border: none;
        color: black;
        background-color: white;
        letter-spacing: 1px;
        font-family: Poppins;
        font-weight: 500;
        border-radius: 12px;
    }
    /*Arrow*/
    .arrows{
        position: absolute;
        top: 80%;
        right: 62%;
        width: 300px;
        max-width: 30%;
        display: flex;
        gap: 10px;
        align-items: center;
        z-index: 100;
    }
    /*thrumbail*/
    .thumbnail{
        position: absolute;
        bottom: 40px;
        left: 47%;
        width: max-content;
        z-index: 10;
        display: flex;
        gap: 20px;
    }
}

